.popover {
  font-family: inherit;
}

/*** WRAPPER ***/
#wrapper {
  padding-top: 1.563rem;

  .banner {
    margin-bottom: 1.5rem;
    display: block;

    img {
      box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
    }
  }
}

/*** MAIN ***/
#main {
  .page-header {
    margin-bottom: 1.563rem;

    h1 {
      font-size: 22px;
      letter-spacing: 2px;
      text-align: center;
      padding: 20px 0;
      font-weight: 600;

      @media #{$mobile} {
        line-height: 30px;
        padding: 0 30px;
      }
    }
  }

  .page-content {
    margin-bottom: 1.563rem;

    h6 {
      margin-bottom: 30px;
      text-align: center;
    }

    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .page-footer {
    margin-bottom: 1.563rem;
  }
}

#notifications {
  ul {
    margin-bottom: 0;
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(lg) {
  #header {
    .header-nav {
      max-height: inherit;
    }
  }
}

@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }

  #header {
    .logo {
      width: auto;
    }
  }

  .sub-menu {
    left: 0;
    min-width: 100%;
  }

  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 15.63rem;
    margin: 0 auto 0.9375rem;
  }

  #blockcart-modal .cart-content {
    padding-left: 0;
  }

  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }

  #search_filters .facet .facet-label {
    text-align: left;
  }

  .block-category .category-cover {
    position: relative;
    text-align: center;
  }

  .block-category {
    padding-bottom: 0;
  }
}

@include media-breakpoint-down(sm) {
  #wrapper {
    box-shadow: none;
  }

  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }

  section.checkout-step {
    width: 100%;
  }

  .default-input {
    min-width: 100%;
  }

  label {
    clear: both;
  }

  .block-contact {
    padding-left: 0.9375rem;
    border: none;
  }

  .menu,
  .dropdown-item {
    padding-left: 0;
  }

  #footer {
    padding-top: 0.5rem;
  }
}

@include media-breakpoint-down(xs) {

  #left-column,
  #content-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

input[type=number] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}