[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Icomoon Fonts*/
.icon-instagram:before {
  content: "\e910";
}
.icon-linkedin:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-bag:before {
  content: "\e904";
}
.icon-location:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e90c";
}
.icon-wishlist:before {
  content: "\e90d";
}
.icon-twitter:before {
  content: "\e912";
  color: #1da1f2;
}
.icon-pinterest:before {
  content: "\e911";
  color: #bd081c;
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-arrow-back:before {
  content: "\e905";
}
.icon-burger:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e908";
  color: #3ca03c;
}
.icon-closed:before {
  content: "\e909";
}
.icon-fb-footer-white:before {
  content: "\e90a";
  color: #fff;
}
.icon-ig-footer-white:before {
  content: "\e90b";
  color: #fff;
}
.icon-lock:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-minus:before {
  content: "\e914";
}
.icon-plus:before {
  content: "\e913";
}
