// ========================================= //
// Featured products
// ========================================= //

.featured-products {
    position: relative;
    padding: rem(38) 0;
    @include media-breakpoint-up(lg) {
        padding-bottom: rem(78);
    }
    &:not(:last-child) {
        margin-bottom: rem(40);
        @include media-breakpoint-up(lg) {
            margin-bottom: rem(50);
        }
    }
    &:before {
        content: '';
        width: calc(100% - #{rem(40)});
        height: 100%;
        background: var(--blue-light);
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        margin-inline: auto;
        border-radius: rem(35);
        @include media-breakpoint-up(md) {
            width: calc(100% - #{rem(140)});
        }
        @include media-breakpoint-up(lg) {
            width: calc(100% - #{rem(140)});
        }
    }
    .custom-title {
        text-align: center;
        margin-bottom: rem(16);
        @include media-breakpoint-up(lg) {
            margin-bottom: rem(29);
        }
    }
    .product {
        &s {
            position: initial;
            display: flex;
            flex-flow: wrap;
            margin: 0 rem(-5);
            @include media-breakpoint-up(lg) {
                margin: 0;
            }
        }

        &__card {
            display: flex;
            width: 50%;
            height: unset;
            padding: 0 rem(5);
            margin-bottom: rem(10);
            @include media-breakpoint-up(md) {
                width: calc(25%);
            }
            @include media-breakpoint-up(lg) {
                width: calc(100% / 6);
                padding: 0 rem(12);
                margin: 0;
            }
        }
    }
    .slick {
        &-list {
            padding-top: rem(12);
        }
        &-track {
            display: flex;
        }
        &-dots {
            margin-top: rem(20);
            @include media-breakpoint-up(lg) {
                margin: 0;
                position: absolute;
                top: rem(44);
                right: rem(176);
                width: auto;
            }
        }
        &-prev,
        &-next {
            top: rem(46);
            transform: none;
        }
        &-prev {
            left: auto;
            right: rem(130);
        }
        &-next {
            right: rem(100);
        }
    }
}
