
/*----------TEXT & BG COLOR-----------*/
$main-bg-color: var(--main-bg-color);
$main-text-color: var(--main-text-color);



/*----------TEXT HOVER COLOR-----------*/
$main-bg-hover: var(--main-bg-color-hover);






/*----------TAG BG COLOR-----------*/
//tag new
$bc-color-new: var(--main-bg-tag-new);
$cr-color-new: var(--main-cr-tag-new);

//tag on sale
$bc-color-sale: var(--main-bg-tag-sale);
$cr-color-sale: var(--main-cr-tag-sale);

//tag discount
$bc-color-discount: var(--main-bg-tag-discount);
$cr-color-discount: var(--main-cr-tag-discount);





