/* Define Breakpoints variables */
$large-breakpoint-desk-4k: 1921px !default;
$large-breakpoint-desk-4k-0: 1920px !default;
$large-breakpoint-desk-0: 1800px !default;
$large-breakpoint-desk-1: 1700px !default;
$large-breakpoint-desk-2: 1600px !default;
$large-breakpoint-desk-3: 1441px !default;
$large-breakpoint-desk: 1370px !default;
$small-breakpoint-desk-2: 1310px !default;
$small-breakpoint-desk: 1290px !default;
$small-breakpoint-desk-3: 1170px !default;
$small-breakpoint-desk-1: 1110px !default;
$large-breakpoint-tab-gt: 1026px !default;
$large-breakpoint-tab-3: 1041px !default;
$large-breakpoint-tab: 1025px !default;
$large-breakpoint-tab-sm: 1023px !default;
$small-breakpoint-tab: 992px !default;
$small-breakpoint-tab-min: 991px !default;
$small-breakpoint-tab-0: 840px !default;
$small-breakpoint-tab-1: 768px !default;
$small-breakpoint-tab-2: 767px !default;
$breakpoint-mobile: 641px !default;
$breakpoint-mobile-m: 575px !default;
$breakpoint-mobile-xs: 324px !default;
$breakpoint-mobile-xs-0: 460px !default;
$breakpoint-mobile-xs-1: 414px !default;
$breakpoint-mobile-xs-2: 400px !default;
$breakpoint-mobile-landscape: 738px !default;
$screen: "only screen" !default;
$small-up: $screen !default;
$desk-4k: "#{$screen} and (min-width: #{($large-breakpoint-desk-4k)})" !default;
$desk-4k-0: "#{$screen} and (max-width: #{($large-breakpoint-desk-4k-0)})" !default;
$desk-0: "#{$screen} and (max-width: #{($large-breakpoint-desk-0)})" !default;
$desk-1: "#{$screen} and (max-width: #{($large-breakpoint-desk-1)})" !default;
$desk-2: "#{$screen} and (max-width: #{($large-breakpoint-desk-2)})" !default;
$desk-3: "#{$screen} and (max-width: #{($large-breakpoint-desk-3)})" !default;
$desk-3-min: "#{$screen} and (min-width: #{($large-breakpoint-desk-3)})" !default;
$desk-max-M: "#{$screen} and (min-width: #{($small-breakpoint-tab-1)}) and (max-width: #{($large-breakpoint-desk-4k)})" !default;
$desk-max-2: "#{$screen} and (min-width: #{($large-breakpoint-desk)}) and (max-width: #{($large-breakpoint-desk-2)})" !default;
$desk-max: "#{$screen} and (max-width: #{($large-breakpoint-desk)})" !default;
$desk-m-min: "#{$screen} and (min-width: #{($large-breakpoint-desk)})" !default;
$desk-min: "#{$screen} and (max-width: #{($small-breakpoint-desk)})" !default;
$desk-min-3: "#{$screen} and (max-width: #{($small-breakpoint-desk-3)})" !default;
$desk-min-2: "#{$screen} and (max-width: #{($small-breakpoint-desk-2)})" !default;
$desk-min-1: "#{$screen} and (max-width: #{($small-breakpoint-desk-1)})" !default;
$tab-max-lg: "#{$screen} and (min-width: #{($small-breakpoint-tab-1)}) and (max-width: #{($small-breakpoint-tab-0)})" !default;
$tab-max-gt: "#{$screen} and (min-width: #{($large-breakpoint-tab-gt)})" !default;
$tab-max: "#{$screen} and (max-width: #{($large-breakpoint-tab)})" !default;
$tab-max-min: "#{$screen} and (min-width: #{($large-breakpoint-tab)})" !default;
$tab-max-1: "#{$screen} and (max-width: #{($large-breakpoint-tab-3)})" !default;
$tab-max-sm: "#{$screen} and (max-width: #{($large-breakpoint-tab-sm)})" !default;
$tab-max-mx: "#{$screen} and (min-width: #{($large-breakpoint-tab-sm)})" !default;
$tab-min: "#{$screen} and (max-width: #{($small-breakpoint-tab)})" !default;
$tab-min-min: "#{$screen} and (min-width: #{($small-breakpoint-tab)})" !default;
$tab-min-sm: "#{$screen} and (max-width: #{($small-breakpoint-tab-min)})" !default;
$tab-min-0: "#{$screen} and (max-width: #{($small-breakpoint-tab-0)})" !default;
$tab-min-1: "#{$screen} and (max-width: #{($small-breakpoint-tab-1)})" !default;
$tab-min-M: "#{$screen} and (min-width: #{($breakpoint-mobile-xs)}) and (max-width: #{($small-breakpoint-tab-1)})" !default;
$min-tab: "#{$screen} and (min-width: #{($small-breakpoint-tab-1)})" !default;
$tab-min-2: "#{$screen} and (max-width: #{($small-breakpoint-tab-2)})" !default;
$tab-min-landscape: "#{$screen} and (orientation: #{($breakpoint-mobile-landscape) }) and (orientation: landscape)" !default;
$mobile: "#{$screen} and (max-width: #{($breakpoint-mobile)})" !default;
$mobile-m: "#{$screen} and (max-width: #{($breakpoint-mobile-m)})" !default;
$mobile-xs: "#{$screen} and (max-width: #{($breakpoint-mobile-xs)})" !default;
$mobile-xs-0: "#{$screen} and (max-width: #{($breakpoint-mobile-xs-0)})" !default;
$mobile-xs-1: "#{$screen} and (max-width: #{($breakpoint-mobile-xs-1)})" !default;
$mobile-xs-2: "#{$screen} and (max-width: #{($breakpoint-mobile-xs-2)})" !default;